.hlx/*
coverage/*
logs/*
**/node_modules/*
.DS_Store

helix-importer-ui
.cache
node_modules
.parcel-cache
tools/product-image-importer/product-images/*

.vscode

.idea
test-results
.DS_Store
build-stats.json
npm-debug.log
merged-schema*.json
test-report.xml
test-results.json
yarn-error.log
bundle-*.*
app-builder/.env
