<style>
  .scroll-snap-carousel {
    position: relative;
  }

  .scroll-snap-carousel .scroll-content {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x proximity;
    margin-inline: auto;
  }

  .scroll-snap-carousel .scroll-content>* {
    flex: 0 0 100%;
    scroll-snap-align: center;
  }

  .scroll-snap-carousel .scroll-content .scroll-item {
    box-sizing: border-box;
    padding: 4rem;
  }

  .scroll-snap-carousel .scroll-content .scroll-item>*,
  .scroll-snap-carousel .scroll-content .scroll-item>*>* {
    margin: 0;
    width: 100%;
  }

  .scroll-snap-carousel .scroll-controls button {
    position: absolute;
    z-index: 20;
    top: 38%;
    height: 4.4rem;
    width: 4.4rem;
    background: transparent;
    border-radius: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scroll-snap-carousel .scroll-controls button:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: .8rem solid transparent;
    border-bottom: .8rem solid transparent;
  }

  .scroll-snap-carousel .scroll-controls button.next {
    right: 0;
  }

  .scroll-snap-carousel .scroll-controls button.next:after {
    border-left: 1.6rem solid var(--clr-brand-magenta);
  }

  .scroll-snap-carousel .scroll-controls button.prev {
    left: 0;
  }

  .scroll-snap-carousel .scroll-controls button.prev:after {
    border-right: 1.6rem solid var(--clr-brand-magenta);
  }

  @media (min-width:600px) {
    .scroll-snap-carousel .scroll-content {
      padding-left: 4rem;
    }

    .scroll-snap-carousel .scroll-content .scroll-item {
      padding: 4rem 4rem 4rem 0;
    }
  }

  @media (min-width:1024px) {
    .scroll-snap-carousel .scroll-content {
      padding: 0;
      overflow: unset;
    }

    .scroll-snap-carousel .scroll-controls {
      display: none;
    }

    .scroll-snap-carousel .scroll-content .scroll-item {
      padding: 1rem;
    }
  }

  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-obviously);
    font-weight: var(--fw-bold);
    letter-spacing: var(--ls-heading);
    line-height: 1;
    letter-spacing: normal;
    font-size: 1.8rem;
    padding: 0 4rem 0.3em;
    border: 1px solid transparent;
    box-sizing: border-box;
    height: 6rem;
    border-radius: 1.4rem;
  }

  .btn.pink {
    background: var(--clr-brand-pink);
    color: var(--clr-brand-indigo);
  }

  main .section {
    padding: 0 !important;
    margin-bottom: 3rem;
  }

  main .section img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

  main .section>div {
    max-width: 100%;
  }

  /* page heading banner */
  .shapeware-guide .header-banner {
    position: relative;
  }

  .shapeware-guide .header-banner h1 {
    position: absolute;
    top: 50%;
    left: 2%;
    translate: 0 -50%;
    font-family: var(--ff-obviously);
    font-weight: var(--fw-bold);
    color: var(--clr-brand-indigo);
    letter-spacing: var(--ls-heading);
    line-height: 1.2;
    font-size: clamp(2.5rem, 8.6vw, 11rem);
    margin: 0;
    text-transform: uppercase;
  }

  .shapeware-guide .header-banner span {
    font-family: var(--ff-scotch-text);
    font-weight: var(--fw-medium);
    font-style: italic;
    display: block;
    color: var(--clr-white);
    letter-spacing: normal;
  }

  @media (min-width: 600px) {
    .shapeware-guide .header-banner h1 {
      left: 3%;
    }
  }

  /* section headings */
  .shapeware-guide h2 {
    font-family: var(--ff-obviously);
    font-weight: var(--fw-bold);
    color: var(--clr-brand-indigo);
    letter-spacing: var(--ls-heading);
    text-align: center;
    line-height: 1.1;
    background: var(--clr-white);
    position: relative;
    z-index: 5;
  }

  .shapeware-guide h2 span {
    font-family: var(--ff-scotch-text);
    font-style: italic;
    font-weight: var(--fw-medium);
    color: var(--clr-brand-magenta);
    display: block;
    letter-spacing: normal;
  }

  @media (min-width:600px) {
    .shapeware-guide h2 {
      width: max-content;
      margin-inline: auto;
      padding: 0 4rem;
    }
  }

  /* shape by style section */
  .shape-by-style {
    position: relative;
    margin: 0 1.6rem;
    max-width: 1400px;
  }

  .shape-by-style .scroll-snap-carousel {
    background: var(--clr-brand-white);
    padding: 1rem 0 0;
  }

  .shape-by-style .scroll-snap-carousel a,
  .shape-by-style .scroll-snap-carousel figure {
    color: var(--clr-brand-magenta);
    margin: 0;
  }

  .shape-by-style .scroll-snap-carousel figcaption {
    color: var(--clr-brand-magenta);
    font-family: var(--ff-obviously);
    font-weight: var(--fw-bold);
    text-align: center;
    line-height: 1.2;
    margin: 0.5rem 0 0;
    font-size: clamp(2.2rem, 2vw, 3rem);
  }

  @media (min-width: 600px) {
    .shape-by-style .scroll-snap-carousel .scroll-content>* {
      flex: 1 0 50%;
    }

    .shape-by-style:after {
      content: '';
      display: block;
      width: 93%;
      height: calc(100% + 6rem);
      border: 1.6rem solid var(--clr-brand-lilac);
      position: absolute;
      z-index: -1;
      top: 3.5%;
      left: 50%;
      translate: -50% 0;
      border-bottom: none;
    }
  }

  @media (min-width: 1024px) {
    .shape-by-style:before {
      height: 75%;
    }

    .shape-by-style {
      margin: 0 auto;
    }

    .shape-by-style .scroll-snap-carousel .scroll-content>* {
      flex: 1 1;
    }

    .shape-by-style .scroll-snap-carousel {
      padding: 3rem 6rem;
    }

    .shape-by-style:after {
      top: 5%;
    }
  }


  /* levels of control */
  .levels-of-control {
    position: relative;
    margin: 0 1.6rem;
    max-width: 1400px;
  }

  .levels-of-control .scroll-snap-carousel {
    background: var(--clr-brand-white);
    padding: 1rem 0 0;
  }

  .levels-of-control .scroll-snap-carousel a {
    color: var(--clr-brand-magenta);
    margin: 0;
    text-decoration: none;
  }

  .levels-of-control .scroll-snap-carousel a:hover figcaption {
    text-decoration: underline;
  }

  .levels-of-control .scroll-snap-carousel figure {
    position: relative;
  }

  .levels-of-control .scroll-snap-carousel figcaption {
    color: var(--clr-brand-magenta);
    font-family: var(--ff-obviously);
    font-weight: var(--fw-bold);
    text-align: center;
    line-height: 1.2;
    margin: 0.5rem 0 0;
    font-size: clamp(2.2rem, 4vw, 3rem);
  }

  .levels-of-control .scroll-snap-carousel span {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--clr-brand-white);
    color: var(--clr-brand-magenta);
    font-family: var(--ff-obviously);
    font-weight: var(--fw-bold);
    line-height: 1;
    width: 15%;
    text-align: center;
    translate: 0 -50%;
    font-size: clamp(3.8rem, 4vw, 6rem);
    padding-bottom: 0.3em;
  }

  .levels-of-control .scroll-snap-carousel p {
    color: var(--clr-brand-black);
    font-family: var(--ff-obviously);
    font-weight: var(--fw-medium);
    text-align: center;
    margin: 1rem 0 0;
    line-height: 1.2;
    width: calc(100% + 5rem);
    translate: -2.5rem 0;
    text-decoration: none;
    font-size: clamp(1.4rem, 1.6vw, 1.8rem);
  }

  @media (min-width:600px) {
    .levels-of-control .scroll-snap-carousel .scroll-content>* {
      flex: 1 0 50%;
    }

    .levels-of-control .scroll-snap-carousel p {
      width: 100%;
      translate: 0 0;
    }

    .levels-of-control:after {
      content: '';
      display: block;
      width: 93%;
      height: 106%;
      border: 1.6rem solid var(--clr-brand-lilac);
      position: absolute;
      z-index: -1;
      top: 3.5%;
      left: 50%;
      translate: -50% 0;
      border-bottom: none;
    }
  }

  @media (min-width:1024px) {
    .levels-of-control {
      margin: 0 auto;
    }

    .levels-of-control .scroll-snap-carousel .scroll-content {
      justify-content: space-between;
    }

    .levels-of-control .scroll-snap-carousel .scroll-content>* {
      flex: 0 1 30.33%;
    }

    .levels-of-control .scroll-snap-carousel {
      padding: 3rem 6rem;
    }

    .levels-of-control .scroll-snap-carousel span {
      left: -5%
    }
  }

  /* perfect-fit */
  .perfect-fit {
    margin: 0 1.6rem;
    position: relative;
    max-width: 1400px;
  }

  .perfect-fit h2 {
    z-index: 5;
    position: relative;
  }

  .perfect-fit .scroll-snap-carousel .scroll-controls button {
    top: 45%;
  }

  .perfect-fit .scroll-snap-carousel {
    background: var(--clr-brand-white);
  }

  .perfect-fit .scroll-snap-carousel a {
    color: var(--clr-brand-magenta);
  }

  .perfect-fit .scroll-snap-carousel a:hover,
  .perfect-fit .scroll-snap-carousel a:focus {
    text-decoration: none;
  }

  .perfect-fit .scroll-snap-carousel a:hover span,
  .perfect-fit .scroll-snap-carousel a:focus span {
    text-decoration: underline;
  }

  .perfect-fit .circle {
    background: var(--clr-white);
    border-radius: 50%;
    aspect-ratio: 1/1;
    text-align: center;
    width: 70%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-brand-black);
    font-family: var(--ff-obviously);
    font-weight: var(--fw-medium);
    line-height: 1.4;
    font-size: clamp(1.4rem, 2.6vw, 2rem);
  }

  .perfect-fit .circle p {
    max-width: 80%;
  }

  .perfect-fit .circle span {
    display: block;
    text-transform: uppercase;
    color: var(--clr-brand-magenta);
    font-family: var(--ff-obviously);
    font-weight: var(--fw-bold);
    text-align: center;
    line-height: 1;
    margin: 0 0 1rem;
    font-size: clamp(2.2rem, 4vw, 3rem);
  }

  @media (min-width:600px) {
    .perfect-fit .scroll-snap-carousel .scroll-content>* {
      flex: 1 0 50%;
    }

    .perfect-fit .scroll-snap-carousel .scroll-content {
      z-index: 5;
      position: relative;
    }

    .perfect-fit .scroll-snap-carousel p {
      max-width: 90%;
      translate: 0 0;
      font-size: clamp(1.4rem, 1.6vw, 1.6rem);
    }

    .perfect-fit:after {
      content: '';
      display: block;
      width: 93%;
      height: 55%;
      border: 1.6rem solid var(--clr-brand-lilac);
      position: absolute;
      z-index: 1;
      top: 4.5%;
      left: 50%;
      translate: -50% 0;
    }

    .perfect-fit:before {
      content: '';
      background: var(--clr-brand-white);
      width: 100vw;
      height: 78%;
      display: block;
      position: absolute;
      z-index: -5;
      bottom: 0;
      left: 50%;
      translate: -50% 0;
    }

    .perfect-fit .scroll-snap-carousel {
      background: none;
    }
  }

  @media (min-width:1024px) {
    .perfect-fit {
      margin: 0 auto;
    }

    .perfect-fit .scroll-snap-carousel .scroll-content {
      justify-content: space-between;
    }

    .perfect-fit .scroll-snap-carousel .scroll-content>* {
      flex: 0 1 28.33%;
    }

    .perfect-fit .scroll-snap-carousel {
      padding: 3rem 1rem;
    }

    .perfect-fit .circle span {
      margin-bottom: 3rem;
    }

  }

  /* page-closing */
  .page-closing h3 {
    font-family: var(--ff-obviously);
    font-weight: var(--fw-bold);
    color: var(--clr-brand-indigo);
    letter-spacing: var(--ls-heading);
    line-height: 1.4;
    text-transform: uppercase;
    text-align: center;
  }

  .page-closing .btn {
    display: flex;
    margin-inline: auto;
    width: 90%;
    max-width: 37.5rem;
  }
</style>

<div class="shapeware-guide">
  <!-- page header banner -->
  <section class="header-banner">
    <picture>
      <source media="(min-width: 600px)"
        srcset="//franklin.maidenform.com/content-images/shapeware-guide/shape-header-image.jpg?optimize=high&auto=webp&quality=90,75"
        width="1920" height="384">
      <source media="(max-width: 599px)"
        srcset="//franklin.maidenform.com/content-images/shapeware-guide/shape-header-image-mb.jpg?optimize=high&auto=webp&quality=90,75"
        width="481" height="141">
      <img
        src="//franklin.maidenform.com/content-images/shapeware-guide/shape-header-image-mb.jpg?optimize=high&auto=webp&quality=90,75"
        alt="" width="481" height="141">
    </picture>
    <h1>MAIDENFORM <span>Shape</span></h1>
  </section>

  <!-- shape by style -->
  <section class="shape-by-style">
    <h2 class="section-heading">SHAPE BY <span>Style</span></h2>
    <div class="scroll-snap-carousel">
      <div class="scroll-controls">
        <button class="prev previous-item-button"><span class="sr-only">Previous</span></button>
        <button class="next next-item-button"><span class="sr-only">Next</span></button>
      </div>
      <div class="scroll-content">
        <div class="scroll-item">
          <a href="/shapewear/shop-by-style/camisoles">
            <figure>
              <img
                src="//franklin.maidenform.com/content-images/shapeware-guide/sbs-shaping-tank-image-mb.jpg?optimize=high&auto=webp&quality=90,75&crop=289x299&trim=0,2,2,0"
                alt="" width="289" height="299">
              <figcaption>SHAPING <br>TANK</figcaption>
            </figure>
          </a>
        </div>
        <div class="scroll-item">
          <a href="/shapewear/shop-by-style/thigh-slimmers">
            <figure>
              <img
                src="//franklin.maidenform.com/content-images/shapeware-guide/sbs-thigh-slimmers-image-mb.jpg?optimize=high&auto=webp&quality=90,75&crop=289x299"
                alt="" width="289" height="299">
              <figcaption>THIGH <br>SLIMMERS</figcaption>
            </figure>
          </a>
        </div>
        <div class="scroll-item">
          <a href="/shapewear/shop-by-style/body-shapers">
            <figure>
              <img
                src="//franklin.maidenform.com/content-images/shapeware-guide/sbs-body-shapers-image-mb.jpg?optimize=high&auto=webp&quality=90,75&crop=289x299"
                alt="" width="289" height="299">
              <figcaption>BODY <br>SHAPERS</figcaption>
            </figure>
          </a>
        </div>
        <div class="scroll-item">
          <a href="/shapewear/shop-by-style/shaping-panties">
            <figure>
              <img
                src="//franklin.maidenform.com/content-images/shapeware-guide/sbs-shaping-panties-image-mb.jpg?optimize=high&auto=webp&quality=90,75&crop=289x299"
                alt="" width="289" height="299">
              <figcaption>SHAPING <br>PANTIES</figcaption>
            </figure>
          </a>
        </div>
        <div class="scroll-item">
          <a href="/shapewear/shop-by-style/waist-cinchers">
            <figure>
              <img
                src="//franklin.maidenform.com/content-images/shapeware-guide/sbs-waist-cinchers-image-mb.jpg?optimize=high&auto=webp&quality=90,75&crop=289x299"
                alt="" width="289" height="299">
              <figcaption>WAIST <br>CINCHERS</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- levels of control -->
  <section class="levels-of-control">
    <h2 class="section-heading">LEVELS OF <span>Control</span></h2>
    <div class="scroll-snap-carousel">
      <div class="scroll-controls">
        <button class="prev previous-item-button"><span class="sr-only">Previous</span></button>
        <button class="next next-item-button"><span class="sr-only">Next</span></button>
      </div>
      <div class="scroll-content">
        <div class="scroll-item">
          <a href="/shapewear/control-level/smooths-light.html">
            <figure>
              <span>1</span>
              <img
                src="//franklin.maidenform.com/content-images/shapeware-guide/143539-mmf-fl1456-0281.jpg?optimize=high&auto=webp&quality=90,75"
                alt="" width="289" height="299">
              <figcaption>SMOOTH</figcaption>
              <p>subtle & sexy— when all you need is a finishing touch</p>
            </figure>
          </a>
        </div>
        <div class="scroll-item">
          <a href="/shapewear/control-level/shapes-firm.html">
            <figure>
              <span>2</span>
              <img
                src="//franklin.maidenform.com/content-images/shapeware-guide/143540-mmf-fl3266-0046.jpg?optimize=high&auto=webp&quality=90,75"
                alt="" loading="lazy" width="289" height="299">
              <figcaption>SHAPE</figcaption>
              <p>firm your foundation— when weekday meets chicday</p>
            </figure>
          </a>
        </div>
        <div class="scroll-item">
          <a href="/shapewear/control-level/sculpts-ultrafirm.html">
            <figure>
              <span>3</span>
              <img
                src="//franklin.maidenform.com/content-images/shapeware-guide/red-melody-008-0393.jpg?optimize=high&auto=webp&quality=90,75"
                alt="" loading="lazy" width="289" height="299">
              <figcaption>SCULPT</figcaption>
              <p>all out curviness— when you want jaws to drop</p>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Perfect Fit -->
  <section class="perfect-fit">
    <h2 class="section-heading">GET THE <span>Perfect Fit</span></h2>
    <div class="scroll-snap-carousel">
      <div class="scroll-controls">
        <button class="prev previous-item-button"><span class="sr-only">Previous</span></button>
        <button class="next next-item-button"><span class="sr-only">Next</span></button>
      </div>
      <div class="scroll-content">
        <div class="scroll-item">
          <div class="circle">
            <p><span>Wear</span>
              To put your <br class="xlarge-only">shapewear on, step in <br class="xlarge-only">feet first, then pull
              up.</p>
          </div>
        </div>
        <div class="scroll-item">
          <div class="circle">
            <p><span>COMFORT</span>
              Our shape is designed for <br class="xlarge-only">comfort. If you feel any poking <br
                class="xlarge-only">or digging, try a size up.</p>
          </div>
        </div>
        <div class="scroll-item">
          <div class="circle">
            <p><span>SIZING</span>
              Your true size will <br class="xlarge-only">always give the best <br class="xlarge-only">results, never
              size down.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-closing">
    <h3>Ready to Ooh <br class="mobile-only">and Aah?</h3>
    <a class="btn pink" href="">SHOP SHAPE</a>
  </section>

</div>

<script src="/fragments/components/js/scroll-snap-carousel.js"></script>