.section.shop-by-style-container {
    padding: 0;
}

.section>.shop-by-style-wrapper {
    max-width: unset;
    background: #e7e5df;
}

.shop-by-style {
    overflow: hidden;
    text-align: center;
}

.shop-by-style>div {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    max-width: 100%;
}

.shop-by-style>div>div {
    max-width: 100%;
    padding: 10px;
}

.shop-by-style > div > div h2 {
    font-family: var(--ff-zahrah-semibold-italic);
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0 0 20px;
}

.shop-by-style > div > div h1 {
    font-family: var(--ff-zahrah-semibold-italic);
    font-size: 3.4rem;
    margin: 0;
    line-height: 3.8rem;
}

.shop-by-style>div>div:has(h1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shop-by-style>div>div>ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: auto;
    max-width: 100%;
    line-height: 1.6rem;
}

.shop-by-style>div>div>ul>li {
    margin: 0 5px 10px;
    font-size: 1.6rem;
    font-family: var(--ff-zahrah-bold-italic);
}

.shop-by-style>div>div>ul>li img {
    min-width: 150px;
}

@media (min-width: 900px) {
    .shop-by-style>div>div h2 {
        font-size: 2.4rem;
        font-family:var(--ff-zahrah-semibold-italic);
    }

    .shop-by-style>div>div h1 {
        font-size: 4.0rem;
        line-height: 4.4rem;
        font-family:var(--ff-zahrah-semibold-italic);
    }
}
