/* stylelint-disable no-descending-specificity */

.section.teaser-container {
    padding: 10px 0;
}

.teaser {
    font-family: var(--ff-zahrah-semibold-italic);
    color: #fff;
    text-shadow: 0 0 0.25rem #000, 0 0 1.5rem #000;
}

.teaser > div {
    display: grid;
    min-height: 450px;
}

.teaser > div > div:first-child {
    grid-area: 1 / 1 / 1 / 1;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.teaser > div > div:first-child h1 {
    flex: 10;
    display: flex;
    align-items: center;
    font-size: 4.4rem;
    font-family: var(--ff-zahrah-semibold-italic);
    color: #fff;
    text-shadow: 0 0 0.25rem #000, 0 0 1.5rem #000;
}

.teaser > div > div:nth-child(2) {
    grid-area: 1 / 1 / 1 / 1;
}

.teaser > div > div:nth-child(2) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teaser > div > div .button-container {
    margin: 0;
}

.teaser > div > div p {
    margin: 0;
    color: #fff;
    font-size: 2.0rem;
    font-style: italic;
}

.teaser a.button.secondary {
    background: #fff;
    color: #000;
    text-shadow: none;
    border: 0;
}

.teaser a.button.secondary:hover {
    text-decoration: underline;
    opacity: 0.8;
}

/* Black Text Style */

.teaser.black-text {
    color: #000;
    text-shadow: none;
}

.teaser.black-text > div > div:first-child h1 {
    color: #000;
    text-shadow: none;
}

.teaser.black-text  > div > div p {
    color: #000;
}

/* Half Half Style */

.teaser.half-half > div > div:first-child h1 {
    margin: 0;
    flex: unset;
    font-size: 2.2rem;
    font-family: var(--ff-zahrah-semibold);
    letter-spacing: 0.4rem;
}

.teaser.half-half > div > div:first-child img {
    max-width: 75%;
}

.teaser.half-half > div > div:first-child {
    grid-area: 2 / 1 / 2 / 1;
    justify-content: flex-start;
    padding-top: 20px;
}

.teaser.half-half > div > div p {
    font-family: var(--ff-gilroy-regular);
    font-size: 1.6rem;
    font-style: normal;
}

.teaser.half-half > div > div:nth-child(2) {
    display: none;
}

.teaser.half-half > div > div:nth-child(3) {
    grid-area: 1 / 1 / 1 / 1;
}

.teaser.half-half > div > div:nth-child(2) img,
.teaser.half-half > div > div:nth-child(3) img {
    height: 100%;
    object-fit: cover;
}

/* One-Third Style */

.teaser.one-third > div > div:first-child h1 {
    margin: 0;
    flex: unset;
    font-size: 2.2rem;
    font-family: var(--ff-zahrah-semibold);
    letter-spacing: 0.4rem;
    color: #000;
    text-shadow: none;
}

.teaser.one-third > div > div:first-child img {
    max-width: 75%;
    filter: invert(100%);
}

.teaser.one-third > div > div:first-child {
    grid-area: 2 / 1 / 2 / 1;
    justify-content: flex-start;
    padding-top: 20px;
}

.teaser.one-third > div > div p {
    font-family: var(--ff-gilroy-regular);
    font-size: 1.6rem;
    font-style: normal;
    color: #000;
    text-shadow: none;
}

.teaser.one-third > div > div:nth-child(2) {
    grid-area: 1 / 1 / 1 / 1;
}

.teaser.one-third > div > div:nth-child(3) {
    display: none;
}

.teaser.one-third > div > div:nth-child(2) img,
.teaser.one-third > div > div:nth-child(3) img {
    height: 100%;
    object-fit: cover;
}

/* Two-Third Style */

.teaser.two-third > div > div:first-child h1 {
    margin: 0;
    flex: unset;
    font-size: 2.2rem;
    font-family: var(--ff-zahrah-semibold);
    letter-spacing: 0.4rem;
}

.teaser.two-third > div > div:first-child img {
    max-width: 75%;
}

.teaser.two-third > div > div:first-child {
    grid-area: 2 / 1 / 2 / 1;
    justify-content: flex-start;
    padding-top: 20px;
}

.teaser.two-third > div > div p {
    font-family: var(--ff-gilroy-regular);
    font-size: 1.6rem;
    font-style: normal;
}

.teaser.two-third > div > div:nth-child(2) {
    grid-area: 1 / 1 / 1 / 1;
}

.teaser.two-third > div > div:nth-child(3) {
    display: none;
}

.teaser.two-third > div > div:nth-child(2) img,
.teaser.two-third > div > div:nth-child(3) img {
    height: 100%;
    object-fit: cover;
}

/* Button Style */

.teaser.half-half a.button.secondary,
.teaser.one-third a.button.secondary,
.teaser.two-third a.button.secondary {
    background: #fff;
    color: #000;
    text-shadow: none;
    border: 1px solid #000;
}

.teaser.half-half a.button.secondary:hover,
.teaser.one-third a.button.secondary:hover,
.teaser.two-third a.button.secondary:hover {
    color: #fff;
    background: #000;
    text-decoration: none;
}

@media (min-width: 900px) {
    .section.teaser-container {
        padding: 10px 16px;
    }

    .teaser > div > div:first-child h1 {
        font-size: 6.0rem;
    }

    .teaser > div > div p {
        font-size: 2.5rem;
    }

    /* Half-Half Style */

    .teaser.half-half > div {
        grid-template-rows: 750px;
    }

    .teaser.half-half > div > div:first-child h1 {
        font-size: 4.0rem;
    }

    .teaser.half-half > div > div:first-child {
        grid-area: 1 / 1 / 1 / 3;
        padding-top: 60px;
    }

    .teaser.half-half > div > div:first-child img {
        max-width: unset;
    }

    .teaser.half-half > div > div:nth-child(2) {
        display: block;
    }

    .teaser.half-half > div > div p {
        font-size: 2.6rem;
    }

    .teaser.half-half > div > div:nth-child(3) {
        grid-area: 1 / 2 / 1 / 2;
    }

    .teaser.half-half > div > div:nth-child(2) img,
    .teaser.half-half > div > div:nth-child(3) img {
        width: 100%;
    }

    /* One-Third Style */

    .teaser.one-third > div {
        grid-template-rows: 750px;
        grid-template-columns: 1fr 2fr;
    }

    .teaser.one-third > div > div:first-child h1 {
        font-size: 4.0rem;
        color: #fff;
        text-shadow: 0 0 0.25rem #000, 0 0 1.5rem #000;
    }

    .teaser.one-third > div > div:first-child img {
        filter: invert(0%);
        max-width: unset;
    }

    .teaser.one-third > div > div:first-child {
        grid-area: 1 / 1 / 1 / 3;
        padding-top: 60px;
    }

    .teaser.one-third > div > div p {
        font-size: 2.6rem;
        color: #fff;
        text-shadow: 0 0 0.25rem #000, 0 0 1.5rem #000;
    }

    .teaser.one-third > div > div:nth-child(3) {
        grid-area: 1 / 2 / 1 / 2;
        display: block;
    }

    .teaser.one-third > div > div:nth-child(2) img,
    .teaser.one-third > div > div:nth-child(3) img {
        width: 100%;
    }

    /* Two-Third Style */

    .teaser.two-third > div {
        grid-template-rows: 750px;
        grid-template-columns: 2fr 1fr;
    }

    .teaser.two-third > div > div:first-child h1 {
        font-size: 4.0rem;
    }

    .teaser.two-third > div > div:first-child img {
        max-width: unset;
    }

    .teaser.two-third > div > div:first-child {
        grid-area: 1 / 1 / 1 / 3;
        padding-top: 60px;
    }

    .teaser.two-third > div > div p {
        font-size: 2.6rem;
    }

    .teaser.two-third > div > div:nth-child(3) {
        grid-area: 1 / 2 / 1 / 2;
        display: block;
    }

    .teaser.two-third > div > div:nth-child(2) img,
    .teaser.two-third > div > div:nth-child(3) img {
        width: 100%;
    }

    /* Button Style */

    .teaser.half-half a.button.secondary,
    .teaser.one-third a.button.secondary,
    .teaser.two-third a.button.secondary {
        border: 0;
    }
}
