.section.hero-video-container {
  padding: 0;
}

.section.hero-video-container > div {
  max-width: inherit;
}

.hero-video {
  position: relative;
  overflow: hidden;
}

.hero-video .video-desktop,
.hero-video .video-mobile {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.hero-video .video-desktop {
  display: none;
  aspect-ratio: 1 / 0.44;
}

.hero-video .video-mobile {
  aspect-ratio: 1 / 1.25;
}

.hero-video video {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.hero-video .overlay-content {
  text-align: center;
  background: #000;
  border: 8px solid #000;
  box-shadow: 0 0 0 5px #f6d4cb inset;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0;
  padding: 30px;
  position: relative;
}

.hero-video .overlay-content::before {
  display: block;
  width: 150px;
  position: absolute;
  z-index: 1;
  right: -1%;
  top: -25%;
  transform: rotate(18deg);
}

.hero-video .overlay-content h3 {
  color: #fff;
  font-size: 6.5rem;
  line-height: 1;
  margin: 10px 0;
}

.hero-video .overlay-content h4 {
  color: #f6d4cb;
  font-size: 2.0rem;
  letter-spacing: 0.3rem;
  margin: 0;
}

.hero-video .overlay-content p {
  color: #fff;
  font-size: 2.0rem;
  line-height: 1.1;
  margin: 0;
}

.hero-video .overlay-content a.button.secondary {
  background: #f6d4cb;
  color: #000 !important;
  border: none;
}

@media (min-width: 600px) {
  .hero-video .video-desktop {
    display: block;
  }

  .hero-video .video-mobile {
    display: none;
  }

  .hero-video .overlay-content h3 {
    line-height: 0.8;
    margin-bottom: 20px;
  }

  .hero-video .overlay-content h4 {
    line-height: 1.3;
    margin: 0 0 15px;
  }

  .hero-video .overlay-content p {
    line-height: 1.1;
    font-size: 2.0rem;
  }
}

@media (min-width: 1024px) {
  .hero-video .overlay-content {
    left: 20%;
    top: 25%;
    position: absolute;
    z-index: 10;
    transform: translate(-50%, 0);
  }

  .hero-video .overlay-content::before {
    width: 180px;
    left: -24%;
    top: -30%;
    transform: unset;
  }
}
