.block.bra-finder-results {
  text-align: center;
  color: #58595b;
  font-family: var(--ff-zahrah-regular);
}

.block.bra-finder-results p {
  font-size: 3rem;
  margin-top: 40px;
}

.block.bra-finder-results h1, .block.bra-finder-results h2, .block.bra-finder-results h3, .block.bra-finder-results h4 {
  font-family: var(--ff-zahrah-regular);
}

#dont-like-your-suggestions {
  font-size: 4rem;
  margin-bottom: 0;
}

#try-other-silhouettes {
  margin-top: 0;
  font-size: 6rem;
}

.block.bra-finder-results > div {
  border-bottom: 1px solid #58595b;
}

.block.bra-finder-results > div:last-child {
  border-bottom: none;
  text-align: left;
}

.block.bra-finder-results h2 {
  letter-spacing: .5rem;
  color: #595a5c;
  text-transform: uppercase;
  text-align: center;
}

.block.bra-finder-results h3 {
  color: #ce789f;
}

.block.bra-finder-results h2 em {
  font-size: 4rem;
  color: #ce789f;
  text-transform: none;
}

.block.bra-finder-results em.substitute-template {
  font-style: normal;
}

.block.bra-finder-results p.substitute-alt1.substitute-alt2 {
  padding: 32px;
  background: #efefef;
  display: inline-block;
  font-family: var(--ff-zahrah-regular);
  font-size: 2.5rem;
  margin-top: 50px;
}

.block.bra-finder-results p.substitute-size em {
  color: #ce789f;
  font-size: 6rem;
  font-style: italic;
  font-family: var(--ff-zahrah-semibold);
}

.block.bra-finder-results .other-silhouettes {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.block.bra-finder-results .other-silhouettes li {
  padding: 40px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 4px solid #fad1e0;

}

.block.bra-finder-results .other-silhouettes img {
  display: block;
}

.block.bra-finder-results .button.back-button {
  background: #919192;
  font-family: var(--ff-zahrah-semibold);
  font-size: 1.5rem;
}

.block.bra-finder-results .button.back-button:hover {
  text-decoration: underline;
}

.block.bra-finder-results .button.back-button svg {
  margin-right: 12px;
  top: 3px;
  position: relative;
}

@media (max-width: 600px) {
  .block.bra-finder-results .other-silhouettes {
    flex-direction: column;
  }
}
