.section div.curalate-gallery-wrapper {
  display: block;
}

.curalate-gallery {
  max-width: 720px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .curalate-gallery {
    max-width: 1160px;
  }
}
