/* below the fold CSS goes here */

/* ||  Maidenform-Fonts Adobe Fonts Web Project - Obviously, Obviously Narrow, Obviously Wide, Scotch Display and Scotch Text */
@import url("//use.typekit.net/rus5dnv.css");

/* || Gilroy Fonts */
@font-face {
  font-family: 'Gilroy ExtraBold 700';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'), url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy ExtraBold Italic 700';
  src: url('../fonts/Gilroy-ExtraBold-Italic.woff2') format('woff2'), url('../fonts/Gilroy-ExtraBold-Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy Bold 700';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Gilroy SemiBold 600';
  src: url('../fonts/Gilroy-SemiBold.woff2') format('woff2'), url('../fonts/Gilroy-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy Medium 500';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Gilroy Regular 400';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Gilroy Light 300';
  src: url('../fonts/Gilroy-Light.woff2') format('woff2'), url('../fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy UltraLight 200';
  src: url('../fonts/Gilroy-UltraLight.woff2') format('woff2'), url('../fonts/Gilroy-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* || Zahrah Fonts */

@font-face {
  font-family: 'Zahrah Bold';
  src: url('../fonts/Zahrah-Bold.woff') format('woff2'), url('../fonts/Zahrah-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zahrah Bold Italic';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Zahrah-Bold-Italic.woff') format('woff'), url('../fonts/Zahrah-Bold-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Zahrah Semibold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Zahrah-SemiBold.woff') format('woff'), url('../fonts/Zahrah-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Zahrah Semibold Italic';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Zahrah-SemiBold-Italic.woff') format('woff'), url('../fonts/Zahrah-SemiBold-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Zahrah Medium';
  src: url('../fonts/Zahrah-Medium.woff2') format('woff2'), url('../fonts/Zahrah-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zahrah Medium Italic';
  src: url('../fonts/Zahrah-Medium-Italic.woff2') format('woff2'), url('../fonts/Zahrah-Medium-Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Zahrah Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Zahrah-Regular.woff') format('woff'), url('../fonts/Zahrah-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Zahrah Regular Italic';
  src: url('../fonts/Zahrah-Regular-Italic.woff2') format('woff2'), url('../fonts/Zahrah-Regular-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Zahrah Light';
  src: url('../fonts/Zahrah-Light.woff2') format('woff2'), url('../fonts/Zahrah-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zahrah Light Italic';
  src: url('../fonts/Zahrah-Light-Italic.woff2') format('woff2'), url('../fonts/Zahrah-Light-Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}