/* stylelint-disable custom-property-pattern */
/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable declaration-block-no-duplicate-custom-properties */
/* stylelint-disable no-descending-specificity */

/* Obviously - font fallback */
@font-face {
  font-family: "Obviously fallback";
  font-style: normal;
  src: local("Verdana");
  size-adjust: 105%;
  descent-override: 0%;
  ascent-override: 99%;
  line-gap-override: 52%;
}

/* Obviously Narrow - font fallback */
@font-face {
  font-family: "obviously-narrow fallback";
  src: local("Arial Narrow");
  size-adjust: 106%;
  descent-override: 0%;
  ascent-override: 100%;
  line-gap-override: 50%;
}

/* Obviously Wide - font fallback */
@font-face {
  font-family: "obviously-wide fallback";
  src: local("Verdana");
  size-adjust: 106%;
  descent-override: 0%;
  ascent-override: 100%;
  line-gap-override: 50%;
}

/* Scotch Text - font fallback */
@font-face {
  font-family: "scotch-text fallback";
  src: local("Georgia");
  size-adjust: 105%;
  descent-override: 0;
  ascent-override: 83%;
  line-gap-override: 14%;
}

/* Scotch Display - font fallback */
@font-face {
  font-family: "scotch-display fallback";
  src: local("Georgia");
  size-adjust: 103%;
  descent-override: 0;
  ascent-override: 86%;
  line-gap-override: 6%;
}

/* Zarah font family */
@font-face {
  font-family: "Obviously fallback";
  font-style: normal;
  src: local("Verdana");
  size-adjust: 105%;
  descent-override: 0%;
  ascent-override: 99%;
  line-gap-override: 52%;
}

/* Obviously Narrow - font fallback */
@font-face {
  font-family: "obviously-narrow fallback";
  src: local("Arial Narrow");
  size-adjust: 106%;
  descent-override: 0%;
  ascent-override: 100%;
  line-gap-override: 50%;
}

/* Obviously Wide - font fallback */
@font-face {
  font-family: "obviously-wide fallback";
  src: local("Verdana");
  size-adjust: 106%;
  descent-override: 0%;
  ascent-override: 100%;
  line-gap-override: 50%;
}

/* Scotch Text - font fallback */
@font-face {
  font-family: "scotch-text fallback";
  src: local("Georgia");
  size-adjust: 105%;
  descent-override: 0;
  ascent-override: 83%;
  line-gap-override: 14%;
}

/* Scotch Display - font fallback */
@font-face {
  font-family: "scotch-display fallback";
  src: local("Georgia");
  size-adjust: 103%;
  descent-override: 0;
  ascent-override: 86%;
  line-gap-override: 6%;
}

/* Obviously - font fallback */
@font-face {
  font-family: "Obviously fallback";
  font-style: normal;
  src: local("Verdana");
  size-adjust: 105%;
  descent-override: 0%;
  ascent-override: 99%;
  line-gap-override: 52%;
}

/* Obviously Narrow - font fallback */
@font-face {
  font-family: "obviously-narrow fallback";
  src: local("Arial Narrow");
  size-adjust: 106%;
  descent-override: 0%;
  ascent-override: 100%;
  line-gap-override: 50%;
}

/* Obviously Wide - font fallback */
@font-face {
  font-family: "obviously-wide fallback";
  src: local("Verdana");
  size-adjust: 106%;
  descent-override: 0%;
  ascent-override: 100%;
  line-gap-override: 50%;
}

/* Scotch Text - font fallback */
@font-face {
  font-family: "scotch-text fallback";
  src: local("Georgia");
  size-adjust: 105%;
  descent-override: 0;
  ascent-override: 83%;
  line-gap-override: 14%;
}

/* Scotch Display - font fallback */
@font-face {
  font-family: "scotch-display fallback";
  src: local("Georgia");
  size-adjust: 103%;
  descent-override: 0;
  ascent-override: 86%;
  line-gap-override: 6%;
}

/* Zarah font family */
@font-face {
  font-family: 'Zahrah Bold Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Times New Roman Bold');
  ascent-override: 69.80%;
  descent-override: 22.53%;
  line-gap-override: 0;
  size-adjust: 108.31%;
}

@font-face {
  font-family: 'Zahrah Bold Italic Fallback';
  font-style: italic;
  font-weight: 700;
  src: local('Times New Roman Bold');
  ascent-override: 68.86%;
  descent-override: 22.22%;
  line-gap-override: 0;
  size-adjust: 109.79%;
}

@font-face {
  font-family: 'Zahrah Semibold Fallback';
  font-style: normal;
  font-weight: 600;
  src: local('Times New Roman Bold');
  ascent-override: 70.09%;
  descent-override: 22.62%;
  line-gap-override: 0;
  size-adjust: 107.86%;
}

@font-face {
  font-family: 'Zahrah Semibold Italic Fallback';
  font-style: italic;
  font-weight: 600;
  src: local('Times New Roman Bold Italic');
  ascent-override: 87.20%;
  descent-override: 14.1%;
  line-gap-override: 0;
  size-adjust: 105.84%;
}

@font-face {
  font-family: 'Zahrah Medium Fallback';
  font-style: normal;
  font-weight: 500;
  src: local('Times New Roman');
  ascent-override: 66.97%;
  descent-override: 21.61%;
  line-gap-override: 0;
  size-adjust: 112.89%;
}

@font-face {
  font-family: 'Zahrah Medium Italic Fallback';
  font-style: italic;
  font-weight: 500;
  src: local('Times New Roman Italic');
  ascent-override: 67.81%;
  descent-override: 21.89%;
  line-gap-override: 0;
  size-adjust: 111.49%;
}

@font-face {
  font-family: 'Zahrah Regular Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Times New Roman');
  ascent-override: 67.91%;
  descent-override: 21.92%;
  line-gap-override: 0;
  size-adjust: 111.33%;
}

@font-face {
  font-family: 'Zahrah Regular Italic Fallback';
  font-style: italic;
  font-weight: 400;
  src: local('Times New Roman Italic');
  ascent-override: 69.02%;
  descent-override: 22.28%;
  line-gap-override: 0;
  size-adjust: 109.53%;
}

@font-face {
  font-family: 'Zahrah Light Fallback';
  font-style: normal;
  font-weight: 300;
  src: local('Times New Roman');
  ascent-override: 68.78%;
  descent-override: 22.20%;
  line-gap-override: 0;
  size-adjust: 109.92%;
}

@font-face {
  font-family: 'Zahrah Light Fallback';
  font-style: normal;
  font-weight: 300;
  src: local('Times New Roman Italic');
  ascent-override: 70.13%;
  descent-override: 22.64%;
  line-gap-override: 0;
  size-adjust: 107.80%;
}


/* fallback font for Gilroy font family */

@font-face {
  font-family: 'Gilroy ExtraBold 700 Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 99.52%;
  descent-override: 29.40%;
  line-gap-override: 0.00%;
  size-adjust: 98.47%;
}

@font-face {
  font-family: 'Gilroy ExtraBold Italic 700 Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 99.72%;
  descent-override: 29.46%;
  line-gap-override: 0.00%;
  size-adjust: 98.27%;
}

@font-face {
  font-family: 'Gilroy Bold 700 Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 99.50%;
  descent-override: 28.85%;
  line-gap-override: 0.00%;
  size-adjust: 98.00%;
}

@font-face {
  font-family: 'Gilroy SemiBold 600 Fallback';
  font-style: normal;
  font-weight: 600;
  src: local('Arial Bold');
  ascent-override: 99.48%;
  descent-override: 28.14%;
  line-gap-override: 0.00%;
  size-adjust: 97.53%;
}

@font-face {
  font-family: 'Gilroy Medium 500 Fallback';
  font-style: normal;
  font-weight: 500;
  src: local('Arial');
  ascent-override: 91.96%;
  descent-override: 25.50%;
  line-gap-override: 0.00%;
  size-adjust: 104.92%;
}

@font-face {
  font-family: 'Gilroy Regular 400 Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 91.98%;
  descent-override: 24.89%;
  line-gap-override: 0.00%;
  size-adjust: 104.36%;
}

@font-face {
  font-family: 'Gilroy Light 300 Fallback';
  font-style: normal;
  font-weight: 300;
  src: local('Arial');
  ascent-override: 90.93%;
  descent-override: 24.60%;
  line-gap-override: 0.00%;
  size-adjust: 105.58%;
}

@font-face {
  font-family: 'Gilroy UltraLight 200 Fallback';
  font-style: normal;
  font-weight: 200;
  src: local('Arial');
  ascent-override: 89.96%;
  descent-override: 24.34%;
  line-gap-override: 0.00%;
  size-adjust: 106.71%;
}

:root {
  /* colors */
  --clr-black: #000;
  --clr-charcoal: #333;
  --clr-dark-grey: #767676;
  --clr-med-grey: #99969c;
  --clr-grey: #f4f4f4;
  --clr-white: #fff;
  --clr-dark-pink: #c41b53;
  --clr-dark-red: #793e4e;
  --clr-red: #ef2f23;
  --clr-pink: #D52A82;
  --clr-dark-blue: #202342;

  /* 2023 Brand colors */
  --clr-brand-pink: #F9CBE3;
  --clr-brand-magenta: #EB0A8C;
  --clr-brand-magenta-med: var(--clr-pink);
  --clr-brand-magenta-dark: #c2005d;
  --clr-brand-periwinkle: #D2CFFE;
  --clr-brand-lilac: #B9A4F2;
  --clr-brand-indigo: #1E1D4C;
  --clr-brand-white: #F2EFF8;
  --clr-brand-black: #1E1226;

  --link-color: var(--clr-brand-black);
  --link-hover-color: var(--clr-brand-black);
  --background-color: var(--clr-white);
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: var(--clr-brand-black);
  --loading-background: #ededed;

  /* fonts */
  --ff-obviously: 'obviously', 'Obviously fallback', sans-serif;
  --ff-obviously-narrow: 'obviously-narrow', 'obviously-narrow fallback', sans-serif;
  --ff-obviously-wide: 'obviously-wide', 'obviously-wide fallback', sans-serif;
  --ff-scotch-text: 'scotch-text', 'scotch-text fallback', serif;
  --ff-scotch-display: 'scotch-display', 'scotch-display fallback', serif;
  --body-font-family: var(--ff-obviously);
  --heading-font-family: var(--ff-obviously);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* deprecated fonts */
  --ff-gilroy-xbold: 'Gilroy ExtraBold 700', 'Gilroy ExtraBold 700 Fallback', sans-serif;
  --ff-gilroy-xbold-italic: 'Gilroy ExtraBold Italic 700', 'Gilroy ExtraBold Italic 700 Fallback', sans-serif;
  --ff-gilroy-bold: 'Gilroy Bold 700', 'Gilroy Bold 700 Fallback', sans-serif;
  --ff-gilroy-semibold: 'Gilroy SemiBold 600', 'Gilroy SemiBold 600 Fallback', sans-serif;
  --ff-gilroy-medium: 'Gilroy Medium 500', 'Gilroy Medium 500 Fallback', sans-serif;
  --ff-gilroy-regular: 'Gilroy Regular 400', 'Gilroy Regular 400 Fallback', sans-serif;
  --ff-gilroy-light: 'Gilroy Light 300', 'Gilroy Light 300 Fallback', sans-serif;
  --ff-gilroy-ultralight: 'Gilroy UltraLight 200', 'Gilroy UltraLight 200 Fallback', sans-serif;
  --ff-zahrah-bold: 'Zahrah Bold', 'Zahrah Bold Fallback', serif;
  --ff-zahrah-bold-italic: 'Zahrah Bold Italic', 'Zahrah Bold Italic Fallback', serif;
  --ff-zahrah-semibold: 'Zahrah Semibold', 'Zahrah Semibold Fallback', serif;
  --ff-zahrah-semibold-italic: 'Zahrah Semibold Italic', 'Zahrah Semibold Italic Fallback', serif;
  --ff-zahrah-medium: 'Zahrah Medium', 'Zahrah Medium Fallback', serif;
  --ff-zahrah-medium-italic: 'Zahrah Medium Italic', 'Zahrah Medium Italic Fallback', serif;
  --ff-zahrah-regular: 'Zahrah Regular', 'Zahrah Regular Fallback', serif;
  --ff-zahrah-regular-italic: 'Zahrah Regular Italic', 'Zahrah Regular Italic Fallback', serif;
  --ff-zahrah-light-italic: 'Zahrah Light Italic', 'Zahrah Light Italic Fallback', serif;
  --ff-zahrah-light: 'Zahrah Light', 'Zahrah Light Fallback', serif;

  /* font-weight */
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* letter-spacing */
  --ls-body: .025em;
  --ls-heading: 0;

  /* body sizes */
  --body-font-size-m: 1.6rem;
  --body-font-size-s: 1.4rem;
  --body-font-size-xs: 1.2rem;

  /* heading sizes */
  --heading-font-size-xxl: 3.8rem;
  --heading-font-size-xl: 3rem;
  --heading-font-size-l: 2.4rem;
  --heading-font-size-m: 2rem;
  --heading-font-size-s: 1.8rem;
  --heading-font-size-xs: 1.6rem;

  /* nav height */
  --desktop-nav-height: 10rem;
  --nav-height: 6.4rem;

  /* section max width */
  --section-max-width: 720px;

  /* breadcrumb height */
  --breadcrumb-height: 4rem;

  /* Global Banner height */
  --globalBanner-height: 5.2rem;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  font-weight: var(--fw-normal);
  line-height: 1.6;
  letter-spacing: var(--ls-body);
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

/* Used to reduce CLS while loading blocks */
.content-hidden > * {
  display: none;
}

header {
  height: var(--nav-height);
}

.section.promo-banner {
  padding: 2px;
  height: var(--globalBanner-height);
}

.icon {
  display: inline-block;
}

.icon svg {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0;
  margin-bottom: 1rem;
}

a:any-link {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

select {
  appearance: none;
  padding: 0 2rem 2px 1rem;
  margin: 0 5px;
  color: var(--clr-brand-black);
  font-family: var(--ff-obviously);
  font-weight: var(--fw-light);
  font-size: 1.4rem;
  background: var(--clr-white) url('../../icons/rounded-triangle.svg') no-repeat center/contain;
  background-size: 1rem 1rem;
  background-position: right 1rem center;
  border: 1px solid var(--clr-dark-grey);
}

/* buttons */

a.button:any-link,
button {
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: var(--fw-medium);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: .2rem solid transparent;
  padding: 0.9rem 3rem 1.4rem;
  cursor: pointer;
  color: var(--clr-white);
  background-color: var(--clr-brand-magenta-dark);
  margin: 1.6rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3rem;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  text-decoration: underline;
  text-underline-offset: .2em;
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--clr-med-grey);
  cursor: unset;
  pointer-events: none;
}

a.button.secondary,
button.secondary {
  font-family: var(--ff-obviously);
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  min-width: 13rem;
  background-color: var(--clr-black);
  border: 1px solid var(--clr-black);
  color: var(--clr-white);
  padding: 1rem 2rem;
}

a.button.secondary:hover,
button.secondary:hover {
  background-color: var(--clr-white);
  color: var(--clr-brand-black);
}

main.with-breadcrumb {
  position: relative;
  padding-top: var(--breadcrumb-height);
}

main.with-breadcrumb .section.breadcrumb-no-padding {
  padding-top: 0;
}

main.with-breadcrumb .breadcrumb[data-block-status] {
  display: none;
}

main.with-breadcrumb .breadcrumb[data-block-status="loaded"] {
  display: unset;
}

main input[type=text] {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input[type=text]:hover {
  border: 1px solid var(--text-color);
}

main .section {
  padding: 1.4rem 1.6rem;
}

main .section>div p {
  font-size: 1.4rem;
}

main blockquote p::before {
  content: '“';
  line-height: 0;
}

main blockquote p::after {
  content: '”';
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* Section Styles */
.section.center {
  padding: 0 1.6rem;
  margin: 4rem 0;
}

.section.center>div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section.no-section-padding {
  padding: 0;
}

.section:is(.accessibility, .privacy-policy, .secure-shopping, .terms-of-use) h1,
h2,
h3,
h4 {
  font-family: var(--ff-obviously);
  font-weight: var(--fw-light);
}

h1, h2 {
  letter-spacing: var(--ls-heading);
}

/* styles for /secure-shopping */
main .section.secure-shopping>div {
  background-color: var(--clr-grey);
  padding: 1.75rem;
}

main .section.secure-shopping h1 {
  background-color: var(--clr-black);
  color: var(--clr-white);
  padding: .75em;
  margin: 0 0 1rem;
  font-family: var(--ff-obviously);
  font-weight: 300;
  font-size: 2rem;
}

/* styles for /accessibility page */
main .section.accessibility h1 {
  font-size: 3.4rem;
  text-transform: none;
  color: #000;
  border-bottom: 1px solid #010101;
  margin-bottom: 0;
}

main .section.accessibility h2 {
  font-size: 2.6rem;
  text-transform: none;
  color: var(--clr-black);
  margin: 2rem 0 .5rem;
}

/* styles for /privacy-policy */
main .section.privacy-policy h1 {
  font-weight: 400;
  font-size: 3.8rem;
  margin-bottom: 3rem;

}

main .section.privacy-policy ol,
main .section.privacy-policy ul {
  padding-left: 1.5rem;
  font-weight: var(--fw-normal);
  font-size: var(--body-font-size-s);
}

main .section.privacy-policy .default-content-wrapper>ul {
  list-style: none;
  margin: 0 0 1.5em;
}

main .section.privacy-policy ol li {
  margin-top: 3em;
}

main .section.privacy-policy ul li {
  margin-bottom: .51em;
}

main .section.privacy-policy strong {
  font-weight: 500;
}

main .section.customer-service>div>p+p a {
  font-size: 1.4rem;
  text-decoration: underline;
}

main .section.privacy-policy a:any-link {
  text-decoration: underline;
  color: var(--clr-black);
}

/* styles for /terms-of-use */
main .section.terms-of-use h1 {
  font-size: 4.2rem;
  margin: 0 0 2rem;
  color: var(--clr-charcoal);
}

main .section.terms-of-use p {
  margin: 1rem auto;
}

main .section.terms-of-use a:any-link {
  text-decoration: underline;
  color: var(--clr-red);
}

main .section.terms-of-use ol li,
main .section.terms-of-use ul li {
  font-size: 1.8rem;
  margin-bottom: 1em;
}

main .section.terms-of-use h3 {
  margin-top: 2em;
  font-size: 1.6rem;
  color: var(--clr-red);
}

/* styles for /customer-service */
main .section.customer-service h1 {
  display: none;
}

main .section.customer-service>div>p+p img {
  max-width: 1.75rem;
  margin: 0 0.5rem 0 0;
}

.section.shadow {
  background-repeat: no-repeat;
  background-size: cover;
}

.section.shadow>div:first-child {
  gap: 2rem;
  padding: 2rem 0;
}

.section.shadow>div:first-child p {
  margin: 0;
}

.section.shadow>div:first-child h3 {
  font-family: var(--ff-scotch-text);
  font-style: italic;
  margin: 0;
  font-size: 2.2rem;
  text-decoration: underline;
  letter-spacing: .18em;
}

.section.heading-pink .default-content-wrapper h1,
.section.heading-pink .default-content-wrapper h2 {
  font-family: var(--ff-scotch-display);
  letter-spacing: .001em;
  font-weight: var(--fw-semibold);
  font-size: var(--heading-font-size-xl);
  color: var(--clr-dark-pink);
  line-height: 1.2;
}

main>.section.magic-top {
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 3rem solid #eb0a8c;
  border-bottom: 1.5rem solid #000;
  padding-top: 1.5rem;
  margin: 0;
}

main>.section.magic-top img {
  width: 75%;
}

main>.section.magic-top h1 {
  font-family: var(--ff-scotch-display);
  font-weight: 600;
  font-size: 2.1rem;
  letter-spacing: .18em;
  margin: 0;
}

main>.section.magic-bottom {
  padding: 0;
  margin: 0;
}

main>.section.magic-bottom>.default-content-wrapper:last-child {
  margin: 0;
  padding: 0;
  max-width: unset;
}

main>.section.magic-bottom>.default-content-wrapper:last-child img {
  width: 100%;
  max-width: unset;
  height: 100%;
  min-height: 14rem;
  object-fit: cover;
}

main>.section.magic-bottom>div:not(:last-child) {
  border-bottom: 1.5rem solid #000;
  width: auto;
  max-width: unset;
}

@media (min-width: 600px) {
  main:has(.section.magic-bottom) {
    max-width: 1920px;
    margin: 0 auto;
  }

  main .section {
    padding: 2rem 3.2rem;
  }

  .section.center {
    padding: 0 3.2rem;
  }

  main>.section.magic-top h1 {
    font-size: 4rem;
  }
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 6rem;
    --heading-font-size-xl: 4.8rem;
    --heading-font-size-l: 3.6rem;
    --heading-font-size-m: 3rem;
    --heading-font-size-s: 2.4rem;
    --heading-font-size-xs: 2.2rem;
    --content-max-width: 1500px;
  }

  .section>div {
    max-width: var(--content-max-width);
    margin: auto;
  }
}

@media (min-width: 1024px) {
  :root {
    --nav-height: var(--desktop-nav-height);

    /* Global Banner height */
    --globalBanner-height: 4rem;
  }
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

/* modal dialog styles */
.modal-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  background: rgb(0 0 0 / 80%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  text-align: center;
  max-width: 120rem;
  width: 60%;
  border-radius: 4px;
  font-size: 1.4rem;
  position: relative;
  font-family: var(--ff-obviously);
}

.modal-content.size-guide {
  padding: 0.5rem;
  width: 80%;
}

.modal-content.size-guide img {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 1024px) {
  .modal-content.size-guide {
    width: 45%;
    max-width: 70rem;
  }
}

.modal-content h1 {
  margin: 1rem 0;
  padding: 0;
  font-size: 2.4rem;
  font-weight: 300;
}

@media (max-width: 1023px) {
  .modal-content.size-guide h1 {
    margin: 0.5rem 0;
  }
}

.modal-content button {
  display: block;
  background: var(--clr-white);
  border: 1px solid #000;
  width: 4.4rem;
  height: 4.4rem;
  margin: -2rem -2rem 0 0;
  text-align: center;
  color: #333;
  border-radius: 50%;
  padding: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 4.4rem;
  font-family: Arial, monospace;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  transition: all .3s ease;
  text-decoration: none;
}

.modal-content button:hover {
  background: var(--clr-black);
  color: var(--clr-white);
}

.modal-content button:focus-visible {
  background: var(--clr-black);
  color: var(--clr-white);
  outline: 2px solid var(--clr-pink);
  outline-offset: 2px;
}

.section.centered-text {
  text-align: center;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

body.product-detail-page main .section>div {
  max-width: 1400px;
}

@media (min-width: 1024px) {
  :root {
    --heading-font-size-xxl: 6rem;
    --heading-font-size-xl: 4.8rem;
    --heading-font-size-l: 3.6rem;
    --heading-font-size-m: 3rem;
    --heading-font-size-s: 2.4rem;
    --heading-font-size-xs: 2.2rem;
    --section-max-width: 1160px;
  }
}

/* Content and Accessability Utilities */
a.underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.focus-only:not(:focus-visible):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media (min-width: 600px) {
  .mobile-only,
  .small-only {
    display: none !important;
  }
}

@media (max-width: 599px) {
  .large-only {
    display: none !important;
  }
}

/* -- fonts -- */
.zahrah-bold-italic {
  font-family: var(--ff-zahrah-bold-italic);
  font-style: italic;
  font-weight: 700;
}

.zahrah-semibold-italic {
  font-family: var(--ff-zahrah-semibold-italic);
  font-style: italic;
  font-weight: 500;
}

.zahrah-medium-italic {
  font-family: var(--ff-zahrah-medium-italic);
  font-style: italic;
  font-weight: 400;
}

.gilroy-xbold {
  font-family: var(--ff-gilroy-xbold);
  font-weight: 700;
  font-style: normal;
}
